In [35]:
#env set
import pandas as pd

In [36]:
#read DEMO_I.XPT
demo = pd.read_sas('/Users/weijiepan/Desktop/506_project/DEMO_I.XPT')

In [37]:
#select SEQN(id) RIDAGEYR(age) RIAGENDR(gender) INDFMIN2(Annual Family Income) 
#lower case 
demo = demo[["SEQN","RIAGENDR","RIDAGEYR","INDFMIN2"]]
demo = demo.rename(columns={"SEQN":"id","RIAGENDR": "gender", "RIDAGEYR": "age","INDFMIN2":"income"})

In [38]:
#income remove 12 13 and 14->12 15->13
demo = demo[((demo.income>=0) & (demo.income<=11)) | (demo.income==14) | (demo.income==15)]
demo.income[demo.income==14]=12
demo.income[demo.income==15]=13

In [39]:
#age divede 0～12 => 1 | 13～18 => 2 | 19～40 => 3 | 41～59 => 4 | 60～ => 5 
demo.age[(demo.age>=0) & (demo.age<=12)] = 1
demo.age[(demo.age>=13) & (demo.age<=18)] = 2
demo.age[(demo.age>=19) & (demo.age<=40)] = 3
demo.age[(demo.age>=41) & (demo.age<=59)] = 4
demo.age[(demo.age>=60)] = 5

In [40]:
demo.head()

        id  gender  age  income
0  83732.0     1.0  5.0    10.0
1  83733.0     1.0  4.0     4.0
2  83734.0     1.0  5.0     5.0
3  83735.0     2.0  4.0    10.0
4  83736.0     2.0  4.0     7.0

In [41]:
#Diabetes
diabetes = pd.read_sas('/Users/weijiepan/Desktop/506_project/DIQ_I.XPT')
diabetes = diabetes[["SEQN","DIQ010"]]
diabetes = diabetes.rename(columns={"SEQN":"id","DIQ010":"diabetes"})
#change diabetes 2 -> No 1->Yes remove other 
diabetes=diabetes[(diabetes.diabetes==1) | (diabetes.diabetes==2)]
diabetes.diabetes[diabetes.diabetes==2]=0

In [42]:
diabetes.head()

        id  diabetes
0  83732.0       1.0
1  83733.0       0.0
2  83734.0       1.0
3  83735.0       0.0
4  83736.0       0.0

In [43]:
#insurance
insurance = pd.read_sas('/Users/weijiepan/Desktop/506_project/HIQ_I.XPT')
insurance = insurance[["SEQN","HIQ011"]]
insurance = insurance.rename(columns={"SEQN":"id","HIQ011":"insurance"})
insurance = insurance[(insurance.insurance==1) | (insurance.insurance==2)]
insurance.insurance[insurance.insurance==2]=0

In [44]:
insurance.head()

        id  insurance
0  83732.0        1.0
1  83733.0        0.0
2  83734.0        1.0
3  83735.0        1.0
4  83736.0        1.0

In [11]:
#day1 
#generate new col surveyday
#(df-df.mean())/df.std()
#drop day2 weight (WTDR2D)
day1 = pd.read_sas('/Users/weijiepan/Desktop/506_project/DR1TOT_I.XPT')
day1 = day1[["SEQN","WTDRD1","DR1TIRON","DR1TCALC","DR1TZINC","DR1TSODI","DR1TATOC","DR1TVARA",
             "DR1TALCO","DR1TVC","DR1TTFAT","DR1TFIBE","DR1TSUGR","DR1TCARB","DR1TKCAL","DR1TPROT"]]
day1 = day1.rename(columns={"SEQN":"id","WTDRD1":"weight",
                            "DR1TIRON":"iron","DR1TCALC":"calcium","DR1TZINC":"zine","DR1TSODI":"sodium",
                            "DR1TATOC":"VE","DR1TVARA":"VA","DR1TALCO":"alcohol","DR1TVC":"VC",
                            "DR1TTFAT":"fat","DR1TFIBE":"dietary fiber","DR1TSUGR":"sugar",
                            "DR1TCARB":"carbohydrate","DR1TKCAL":"energy","DR1TPROT":"protein"})
#(df-df.mean())/df.std()
#normalize
df=day1[["iron","calcium","zine","sodium","VE","VA","alcohol","VC",
     "fat","dietary fiber","sugar","carbohydrate","energy","protein"]]
day1[["iron","calcium","zine","sodium","VE","VA","alcohol","VC",
     "fat","dietary fiber","sugar","carbohydrate","energy","protein"]] = (df-df.mean())/df.std()
day1["surveyday"]=1

In [12]:
day1.head()

,id,weight,iron,calcium,zine,sodium,VE,VA,alcohol,VC,fat,dietary fiber,sugar,carbohydrate,energy,protein,surveyday
0,83732.0,92670.699919,0.301248,-0.509373,-0.222675,1.171625,0.438369,-0.496720,-0.263365,0.394209,0.067544,0.803015,-0.919206,-0.379003,-0.179376,0.065542,1
1,83733.0,16454.105994,-0.312106,-0.560273,-0.819741,-0.019214,-0.623057,-0.232754,3.801747,-0.572269,0.037328,-0.805581,1.158615,1.018310,1.094054,-0.270058,1
2,83734.0,6529.619788,1.547583,-0.072330,0.595810,1.373075,0.609192,-0.048340,-0.263365,0.110163,0.356752,1.937914,-0.610825,0.571334,0.575209,1.059084,1
3,83735.0,58191.539622,-0.550087,0.650809,-0.396756,-0.480706,-0.501988,-0.299650,-0.263365,-0.817800,-0.614243,-0.144379,-0.732318,-0.680575,-0.654087,-0.073166,1
4,83736.0,12358.085471,-1.438224,-1.476484,-1.320605,-1.236839,-1.026067,-0.898091,-0.263365,-0.478389,-1.286716,-1.328621,-0.476284,-1.258859,-1.446349,-1.327185,1

In [13]:
#day2 
#drop day1 weight (WTDRD1)
day2 = pd.read_sas('/Users/weijiepan/Desktop/506_project/DR2TOT_I.XPT')
day2 = day2[["SEQN","WTDR2D","DR2TIRON","DR2TCALC","DR2TZINC","DR2TSODI","DR2TATOC","DR2TVARA",
             "DR2TALCO","DR2TVC","DR2TTFAT","DR2TFIBE","DR2TSUGR","DR2TCARB","DR2TKCAL","DR2TPROT"]]
day2 = day2.rename(columns={"SEQN":"id","WTDR2D":"weight",
                            "DR2TIRON":"iron","DR2TCALC":"calcium","DR2TZINC":"zine","DR2TSODI":"sodium",
                            "DR2TATOC":"VE","DR2TVARA":"VA","DR2TALCO":"alcohol","DR2TVC":"VC",
                            "DR2TTFAT":"fat","DR2TFIBE":"dietary fiber","DR2TSUGR":"sugar",
                            "DR2TCARB":"carbohydrate","DR2TKCAL":"energy","DR2TPROT":"protein"})
#nomorlize
df=day2[["iron","calcium","zine","sodium","VE","VA","alcohol","VC",
     "fat","dietary fiber","sugar","carbohydrate","energy","protein"]]
day2[["iron","calcium","zine","sodium","VE","VA","alcohol","VC",
     "fat","dietary fiber","sugar","carbohydrate","energy","protein"]] = (df-df.mean())/df.std()
day2["surveyday"]=2

In [14]:
day2.head()

,id,weight,iron,calcium,zine,sodium,VE,VA,alcohol,VC,fat,dietary fiber,sugar,carbohydrate,energy,protein,surveyday
0,83732.0,6.994593e+04,0.281199,0.960210,0.796641,0.858724,0.158770,0.578753,-0.225786,-0.170364,1.258448,0.046404,0.376199,0.538536,1.097269,1.622046,2
1,83733.0,1.319027e+04,0.315030,-0.491058,-0.104819,0.993185,1.658398,-0.448800,9.450634,-0.616594,2.064800,-0.319429,-1.009598,0.009877,2.533831,2.460508,2
2,83734.0,4.928422e+03,0.153124,-0.025352,1.037964,-0.235135,-0.527474,0.034150,-0.225786,-0.671309,0.489038,0.194715,-0.018492,-0.257776,0.141903,0.587094,2
3,83735.0,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,83736.0,9.813678e+03,-1.200119,-1.417053,-1.077897,-0.659717,-0.941501,-0.550087,-0.225786,-0.315054,-0.471440,-1.219181,-0.363455,-0.825309,-0.825171,-1.037068,2

In [15]:
#demo -> demo + insurance
demo = demo.merge(insurance,left_on="id",right_on="id")
#demo -> diabetes
demo_diabetes = demo.merge(diabetes,left_on="id",right_on="id")
#day1 -> demo_diabetes
day1_demo_diabetes = day1.merge(demo_diabetes,left_on="id",right_on="id")
#day2 -> demo_diabetes
day2_demo_diabetes = day2.merge(demo_diabetes,left_on="id",right_on="id")

In [16]:
#vhat (day1_demo_diabetes,day2_demo_diabetes)
day12_demo_diabetes = pd.concat([day1_demo_diabetes,day2_demo_diabetes])

In [17]:
#drop nan
day12_demo_diabetes=day12_demo_diabetes.dropna(axis=0,how='any')

In [20]:
day12_demo_diabetes[(day12_demo_diabetes.weight!=0)]

,id,weight,iron,calcium,zine,sodium,VE,VA,alcohol,VC,...,sugar,carbohydrate,energy,protein,surveyday,gender,age,income,insurance,diabetes
0,83732.0,92670.699919,0.301248,-0.509373,-0.222675,1.171625,0.438369,-0.496720,-0.263365,0.394209,...,-0.919206,-0.379003,-0.179376,0.065542,1,1.0,5.0,10.0,1.0,1.0
1,83733.0,16454.105994,-0.312106,-0.560273,-0.819741,-0.019214,-0.623057,-0.232754,3.801747,-0.572269,...,1.158615,1.018310,1.094054,-0.270058,1,1.0,4.0,4.0,0.0,0.0
2,83734.0,6529.619788,1.547583,-0.072330,0.595810,1.373075,0.609192,-0.048340,-0.263365,0.110163,...,-0.610825,0.571334,0.575209,1.059084,1,1.0,5.0,5.0,1.0,1.0
3,83735.0,58191.539622,-0.550087,0.650809,-0.396756,-0.480706,-0.501988,-0.299650,-0.263365,-0.817800,...,-0.732318,-0.680575,-0.654087,-0.073166,1,2.0,4.0,10.0,1.0,0.0
4,83736.0,12358.085471,-1.438224,-1.476484,-1.320605,-1.236839,-1.026067,-0.898091,-0.263365,-0.478389,...,-0.476284,-1.258859,-1.446349,-1.327185,1,2.0,4.0,7.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8109,93696.0,62475.410787,0.410482,0.001723,0.321778,0.319668,2.158817,0.558202,-0.225786,-0.603219,...,0.156302,1.153500,0.952091,1.010744,2,1.0,3.0,9.0,1.0,0.0
8110,93697.0,93557.455883,-0.606867,0.424107,-0.206019,-0.409571,-0.162347,0.424620,-0.225786,-0.524187,...,0.579575,-0.186948,0.002579,0.264549,2,2.0,5.0,7.0,1.0,0.0
8111,93698.0,32447.735927,0.730669,1.263459,0.313994,-0.231501,-0.853480,0.503888,-0.225786,0.295320,...,0.161093,0.068323,-0.333439,-0.336357,2,1.0,1.0,6.0,1.0,0.0
8112,93699.0,6592.769825,1.009775,1.211113,0.533520,1.407470,0.041407,0.219109,-0.225786,-0.857339,...,-0.474477,1.096055,1.123027,1.121464,2,2.0,1.0,13.0,1.0,0.0
8115,93702.0,55166.938286,-0.867849,-1.186005,-0.917534,-1.048563,-0.031944,0.051765,-0.225786,-0.129024,...,-1.030085,-1.446372,-1.099137,-0.023429,2,2.0,3.0,7.0,1.0,0.0

In [21]:
day12_demo_diabetes.to_csv("/Users/weijiepan/Desktop/506_project_weight.csv")

In [22]:
a=pd.Series([1,2,3,4,5])